#root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

canvas {
  height:  100%;
}

svg {
  vertical-align: bottom;
  bottom: 0px;
}

button {
  cursor: pointer;
  background-color: rgba(224, 224, 224, 0);
  
}

button:hover{
  background-color: rgba(224, 224, 224, 0.2);
  border-radius: 2px;
}

.journal-entries-panel {
  position: absolute;
  overflow-y: scroll;
  top: 0px;
  right: 0px;
  width: 30%;
  height: 100%;
  border-left: solid rgba(224, 224, 224, 0.089) 1px;

}

.journal-entries {
  display: grid;
}

div .journal-entry {
  position: relative;
  padding: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  min-height: 50vh;
  background-color: rgba(224, 224, 224, 0.3);
}

div .journal-entries-crud{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.journal-entries-crud button {
  margin: 5px;
}

.journal-entry-buttons{
  border: none;
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 0.5rem;
}

.journal-entry-buttons button{
  border: none; 
}
